<div id="edit-records-resultset">

  <h1><%= appTitle %></h1>

  <h1>Welcome to my page!</h1>
  <p>This is a pretty cool page, I must say.</p>

  <p>
  All content copyright <%= new Date().getFullYear() %> <%= appName %>.
  </p>

</div>
